html {
  scroll-behavior: smooth;
}

/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue";
}

/* Container configuration */
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Header section */
.container .header-section {
  width: 100%;
  height: 100vh;
  background: url("./static/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -webkit-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -moz-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
}

.header-section .header-content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  color: #333;
  user-select: none;
}

/* Header - Title */
.header-content .header__title {
  width: 100%;
}

.header-content .header__title h1 {
  font-family: "Bebas Neue";
  font-size: 120px;
}

.header__title h1 .name {
  color: rgb(196, 93, 79);
  font-family: "Bebas Neue";
}

/* Header - Description */
.header-content .header__desc {
  width: 100%;
}

.header-content .header__desc p.autotype {
  font-size: 40px;
  font-family: "Bebas Neue";
  color: #666;
}

body > div > div.header-section > div > div.header__desc > p > span {
  height: fit-content;
}

/* Header - Button */
.header-section .header-content .header__button {
  margin: 20px 0;
  width: 100%;
}

.header-content .header__button a:focus {
  outline: 0 none;
  border: none;
}

.header-content .header__button .__button a i {
  padding: 32px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 100%;
  cursor: pointer;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all .3s;
}

.__button a {
  color: #444;
}

.header-content .header__button .__button a i:hover {
  background: rgba(0, 0, 0, 0.095);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: all .3s;
}

.container .main-section {
  width: 100%;
}

.main-section .main__skills {
  margin: 30px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all .3s;
  user-select: none;
}

.main__skills .skills__description {
  width: 40%;
}

.skills__description, .skills__levels {
  height: auto;
}

.main__skills .skills__levels {
  width: 60%;
}

.skills__description .article {
  color: #444;
  padding: 32px 32px;
  background-color: #ededed;
  height: 100%;
  box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -webkit-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -moz-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
}

.article .article__title {
  color: rgb(196, 93, 79);
  padding-bottom: 10px ;
  border-bottom: 2px solid #555;
  margin-bottom: 20px;
}

.article .article__title h1 {
  font-family: "Bebas Neue";
}

.article__title h1 i {
  margin-right: 10px;
}

.article .article__description p {
  font-size: 1.3em;
}

.skills__levels .levels__details {
  width: 100%;
  padding: 32px 16px;
  background-color: #222;
  color: #999;
  display: flex;
  box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -webkit-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -moz-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
}

.details__content {
  width: 100%;
}

.levels__details .details__content .skill {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.skill .skill__name {
  padding-left: 20px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3em;
}

.skill__name p {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
}

.skill__name i {
  margin-left: 10px;
}

.skill .skill__bar {
  padding-left: 20px;
  width: 100%;
}

.skill__bar .progress__bar {
  width: 80%;
  background: #333;
}

.progress__bar .bar {
  background: rgb(196, 93, 79);
  padding:2px;
}

/* Set percentage for each abilitie */

.html{
  width: 90%;
}

.css {
  width: 80%;
}

.js {
  width: 75%;
}

.c {
  width: 90%;
}

.php {
  width: 70%;
}


/* More information section */
.more-info-section {
  width: 100%;
  margin: 30px auto 0;
  background: url("./static/moreInfo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #444;
  padding: 80px 50px;
  box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -webkit-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -moz-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  user-select: none;
}

.more-info-section .title__info {
  color: rgb(196, 93, 79);
  margin-bottom: 10px;
}

.title__info h1 i {
  margin-right: 10px;
}

.more-info-section .description__info p {
  font-size: 1.3em;
  text-align: justify;
  margin-bottom: 10px;
}

/* Social media section */

.social-media-section {
  margin: 60px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  background: #333;
  color: #fff;
  padding: 40px 40px;
  user-select: none;
  box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -webkit-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -moz-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
}

.social-media-section .social__title {
  margin: 40px 0 20px 0;
  color: rgb(196, 93, 79);
  font-size: 1.3em;
  letter-spacing: 2px;
}

.social__title h1 i {
  margin-right: 10px;
}

.social__description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.social__media {
  margin: 10px 0;
  padding: 20px 30px;
  border-bottom: 1.5px solid #555;
}

.social__media:last-child {
  border: none;
}

.social__media h6 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 10px;
}

.social__media p {
  color: #dadada;
  margin-bottom: 5px;
}

.social__media a {
  color: #888;
  text-decoration: none;
}

.social__media a:hover {
  text-decoration: underline;
}

.contact-form {
  padding: 25px 40px;
  width: 40%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  background: #ededed;
  color: #fff;
  padding: 40px 40px;
  user-select: none;
  box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -webkit-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
  -moz-box-shadow: -1px 11px 25px -10px rgba(0,0,0,0.30);
}

.contact-form .contact-form__title {
  display: flex;
  align-items: center;
  width: 100%;
}

.contact-form .contact-form__title h1 {
  margin: 40px 0 20px 0;
  color: rgb(196, 93, 79);
  font-size: 42px;
  letter-spacing: 2px;
}

.contact-form .contact-form__body {
  width: 100%;
}

.contact-form__body form {
  width: 100%;
}

.contact-form__body form .form__body__entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.form__body__entry span {
  font-family: "Bebas Neue";
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
}

input:active, input:focus, textarea:active, textarea:focus {
  outline: 0 none;
}

.form__body__entry input:focus {
  transition: .3s all;
  border: 2px solid rgb(105, 104, 104);
}

.form__body__entry textarea:focus {
  transition: .3s all;
  border: 2px solid rgb(105, 104, 104);
}

.form__body__entry input {
  font-family: "Roboto";
  padding-left: 5px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid rgb(196, 93, 79);
  transition: .3s all;
}

.form__body__entry textarea {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid rgb(196, 93, 79);
  transition: .3s all;
  resize: none;
}

.form__body__entry div .g-recaptcha {
  display: flex;
  justify-content: center;
}

.contact-form__body .form__body__submit-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__body__submit-button input {
  margin-top: 10px;
  width: 30%;
  padding: 15px 40px;
  border: none;
  background: rgb(196, 93, 79);
  font-family: "Bebas Neue";
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  transition: .3s all;
}

.form__body__submit-button input:hover {
  transition: .3s all;
  background: rgb(105, 104, 104);
  cursor: pointer;
}

.footer-section {
  width: 100%;
  background: #222;
  padding: 40px 30px;
  color: #fff;
  text-align: center;
  color: #777;
  font-size: 1.1em;
  user-select: none;
}

.footer-section p span {
  font-weight: bold;
}

@media (max-width:800px) {
  .header-section .header__title {
    width: 90%;
  }
  .header-section .header__title h1 {
    font-size: 70px;
  }

  .header-section .header__desc {
    margin-top: 20px;
    width: 90%;
  }

  .header-section .header-content {
    width: 100%;
  }

  .header-section .header-content .header__button{
    margin-top: 45px;
  }

  .main-section .main__skills {
    width: 95%;
  }

  .main__skills .skills__description {
    width: 100%;
  }

  .main__skills .skills__levels {
    width: 100%;
  }

  .more-info-section {
    margin-top: 0;
  }

  .social-media-section {
    width: 95%;
    margin: 30px auto 30px auto;
  }
  .contact-form {
    margin: 0 auto 30px auto;
    width: 95%;
  }

  .form__body__submit-button input {
    width: 100%;
  }
}

@media (max-width:1250px) and (min-width:900px)
{
  .social-media-section {
    margin: 30px auto;
    width: 80%;
  }
  .contact-form {
    width: 80%;
    margin: 30px auto;
  }
}